<nav class="navbar navbar-static-top">
    <!-- Sidebar toggle button--><a></a>
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    </a>
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav"></ul>
		  <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/fonts/Icon4.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Parametre</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/fonts/Icon.png" class="img-circle" alt="User Image">
                                    
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer"> 
                                    <div class="pull-left">
                                      <a href="http://localhost:60244/Etudiants/Profil/1" class="btn btn-default btn-flat">Profil</a>  
                                       
                                    </div>
                                    <div class="pull-right">
                                        <a href="http://localhost:60244/Account/Login" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
    </div>
</nav>
