<div class="main-header">
    <a href="http://localhost:60244/Home/Index" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">ATS</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">ATSCHOOL</span>
                <!-- Header Navbar: style can be found in header.less -->
        </a>
	
         @Html.Partial("_navbarbutton")
		 	
</div>
